<div>
  <h3 mat-dialog-title>PROIZVOD</h3>
  <mat-dialog-content class="example-container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Naziv proizvoda</mat-label>
      <input matInput [(ngModel)]="data.nazivProizvoda">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Opis proizvoda</mat-label>
      <input matInput [(ngModel)]="data.opis">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cijena</mat-label>
      <input matInput [(ngModel)]="data.cijena">
    </mat-form-field>
    <button type="button" mat-raised-button (click)="fileInput.click()">Upload slika</button>
    <input hidden (change)="onSelectedNewFile($event)" accept="image/*" #fileInput type="file" id="file"><br>
    <mat-form-field appearance="fill">
      <mat-label>Odaberite dobavljaca</mat-label>
      <mat-select [(ngModel)]="data.dobavljacID">
        <mat-option *ngFor="let dobavljac of dobavljaci" [value]="dobavljac.id">
          {{dobavljac.nazivDobavljaca}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <button mat-raised-button mat-dialog-close="">Close</button>
    <button mat-raised-button style="background-color: #3d3d3d;color: white" (click)="Save()">Save</button>
  </mat-dialog-actions>
</div>
