<div class="glavni">
<div class="slika"></div>
<div class="login">
  <h1>SIGN IN</h1>
  <div class="inputs">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button>Sign in</button><br>
    <p>Don't have an account? Click <a>here</a> to register</p>
  </div>
</div>
</div>
