<div class="naslovna">
  <div class="logo"><img class="slika" src="https://i.imgur.com/PSUlbYa.png"></div>
  <nav class="navigacija">
    <ul>
      <li routerLink="/zaposleniciEdit" routerLinkActive="active">POCETNA</li>
      <li routerLink="/proizvodi" routerLinkActive="active">PROIZVODI</li>
      <li routerLink="/termini" routerLinkActive="active">TERMINI</li>
      <li routerLink="/administracija" routerLinkActive="active">ADMINISTRACIJA</li>
      <li routerLink="/ponudaEdit" routerLinkActive="active">ZAPOSLENIK</li>
      <li routerLink="/arhivaEdit" routerLinkActive="active">ARHIVA</li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

