<div *ngIf="editProizvod != null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="Ugasi()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naziv proizvoda</label>
          <input class="form-control" [(ngModel)]="editProizvod.nazivProizvoda">
        </div>
        <div class="mb-3">
          <label class="form-label">Cijena</label>
          <input class="form-control" [(ngModel)]=editProizvod.cijena type="number">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="Ugasi()">Close</button>
        <button type="button" class="btn btn-dark" (click)="Spasi(editProizvod)">Save changes</button>
      </div>
    </div>
  </div>
</div>
