<div class="naslovna">
  <nav class="navigacija">
    <ul>
      <li routerLink="/administracija" routerLinkActive="active">CHARTOVI</li>
      <li routerLink="/zaposleniciEdit" routerLinkActive="active">ZAPOSLENICI</li>
      <li routerLink="/proizvodiEdit" routerLinkActive="active">PROIZVODI</li>
      <li routerLink="/ponudaEdit" routerLinkActive="active">PONUDA</li>
      <li routerLink="/terminiEdit" routerLinkActive="active">TERMINI</li>
      <li routerLink="/lokacijeEdit" routerLinkActive="active">LOKACIJA</li>
      <li routerLink="/rezervacijaEdit" routerLinkActive="active">REZERVACIJA</li>
      <li routerLink="/arhivaEdit" routerLinkActive="active">ARHIVA</li>
    </ul>
  </nav>
</div>
