.example-container {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.buttons{
  display: flex;
}

.buttons > * {
  width: 49%;
}
.example-container > * {
  width: 100%;
}

h3{
  text-align: center;
}
